@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Work+Sans:wght@600&display=swap');
:root{
--container-background-color: #1E1F22;

--standard-font: 'IBM Plex Mono', monospace;
--standard-font-size: 14px;
--standard-font-color: white;
--standard-padding: 11px;

--title-font: 'Work Sans', sans-serif;
--title-font-size: 16px;
--title-background-color: rgba(255,255,255, .2);

--null-text-color: rgba(255,255,255,.6);
--numeric-text-color: #EFC900;
--character-text-color: #F17400;
--date-text-color: #00D0AB;
}

.input{
    background-color: var(--container-background-color);
    border: none;
    padding-right: 4px;
    border-right: rgba(19,133,255, .3) 2px solid;
    color: var(--standard-font-color);
    font-size: var(--standard-font-size);
    font-family: var(--standard-font);
    width: 80px;
    height: 30px;
    color: white;
    overflow: hidden;
    padding: 0;
}
.input:focus{
    background-color: var(--container-background-color);   
    border: #1f7dbd 1px solid;
    border-radius: 2px;
    outline:none;
    overflow: visible;
    width: auto;
    color: white !important;
}
