@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Work+Sans:wght@600&display=swap');
:root{
--container-background-color: #1E1F22;

--standard-font: 'IBM Plex Mono', monospace;
--standard-font-size: 14px;
--standard-font-color: white;
--standard-padding: 11px;

--title-font: 'Work Sans', sans-serif;
--title-font-size: 16px;
--title-background-color: rgba(255,255,255, .2);

--null-text-color: rgba(255,255,255,.6);
--numeric-text-color: #EFC900;
--character-text-color: #F17400;
--date-text-color: #00D0AB;
}
.container{
background-color: var(--container-background-color);
border-radius: 4px;
}
.title-block{
height: 40px;
width: clamp(360px, 360px, 100%);
display: flex;
align-items: center;
justify-content: flex-start;
padding: 0 var(--standard-padding);
background-color: var(--title-background-color);
}
.title{
padding: 0;
margin: 0;
color: var(--standard-font-color);
font-family: var(--title-font);
font-weight: 600;
font-size: var(--title-font-size);
}
.field{
display: flex;
align-items: center;
justify-content: space-between;
padding: var(--standard-padding);
position: relative;
}
input{
background-color: var(--container-background-color);
border: none;
padding-right: 4px;
border-right: rgba(19,133,255, .3) 2px solid;
color: var(--standard-font-color);
font-size: var(--standard-font-size);
font-family: var(--standard-font);
width: 80px;
height: 20px;
overflow: hidden;
}
input:focus{
background-color: var(--container-background-color);   
border: #1f7dbd 1px solid;
border-radius: 2px;
outline:none;
overflow: visible;
width: auto;
}

.replacement{
border: none;
width: 80px;
position: relative;
display: inline-block;
}
input[type="checkbox"]{
visibility: hidden;
position: absolute;
top: -10px;
}

.null{
font-family: var(--standard-font);
color: var(--null-text-color);
}

.input-cont.last{
width: 10%;
}
select{
font-size: 12px;
border: none;
text-align-last:center;
-webkit-appearance: none;
outline: none;
font-weight: 600;
font-family: var(--standard-font);
}
.unique{
color: #e8ecee;
background-color: rgba(190, 255, 38, 0.2);
border-radius: 3px;
width: 50px;
height: 25px;
}
.keys{
color: #e8ecee;
background-color: rgba(19,133,255, .2);
border-radius: 50%;
width: 25px;
height: 25px;
}
option{
color: black;
display: flex;
align-items: center;
justify-content: center;
}

.numeric{
color: var(--numeric-text-color);
}
.character{
color: var(--character-text-color);
}
.date{
color: var(--date-text-color)
}
.input-cont{
position: relative;
}
.input-cont:not(.last){
border-bottom: inset 10px solid grey;
}
