#controller{
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
}

.organizeButtons{
    display: flex;
}